@import "../../global.scss";
@import "../../App.css";

.retro-team-font {
  font-family: "RetroTeam";
}
.menu {
  font-family: "RetroTeam";
  width: 300px;
  height: 100%;
  background-color: rgba(0, 247, 255, 0.555);
  position: fixed;
  top: 0;
  backdrop-filter: blur(0.3rem);
  right: -305px;
  z-index: 1;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border-left: rgb(255, 14, 66) solid 5px;

  .street-address {
    font-size: 19px;
    display: none;
    text-shadow: black 2px 2px 2px;

    @include mobile {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      text-align: center;

      h2 {
        font-weight: lighter;
      }
      h3 {
        font-weight: lighter;
      }
    }
  }
  .hours {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    text-shadow: black 2px 2px 2px;

    h2 {
      font-weight: lighter;
    }
    h3 {
      font-weight: lighter;
    }
  }

  @include mobile {
    width: 100%;
    right: -102%;
  }

  &.active {
    right: 0;
  }
  ul {
    margin: 0;
    padding: 50px;
    list-style: none;
    font-size: 20px;
    color: white;

    @include mobile {
      color: black;
      font-weight: bolder;
    }

    li {
      margin: 20px;
      @include mobile {
        margin-bottom: 20px;
      }
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }
      &:hover {
        font-weight: 700;
      }
    }
  }
}
