@import "../../global.scss";

.HeroBanner {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  background-size: cover;

  @include mobile {
    background-size: cover;
  }

  .parallax-banner {
    display: flex;
    background-size: cover;
    @include mobile {
    }
    .big-container {
      height: 80vh;
      display: flex;
      @include mobile {
        height: 100vh;
      }
      .logo-wrapper {
        margin: 0;
        padding: 0;

        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          height: auto;
          margin-top: 150px;

          @include mobile {
          }

          img {
            width: 60%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

            @include mobile {
              width: 100%;
              margin: auto;
            }
          }
        }
        .desktop-call {
          color: white;
          text-align: center;
          margin-top: 20px;
          font-size: 70px;
          display: flex;
          margin: auto;
          transform: translate(25%, 0);
          @include mobile {
            display: none;
          }
        }
        .call-to-action {
          color: white;
          text-align: center;
          margin-top: 20px;
          font-size: 70px;
          display: none;

          @include mobile {
            display: flex;
            flex-direction: column;
            font-size: 60px;
            margin-top: 20px;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  .transition {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0));
    height: 75px;
  }
}
