body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "DJIcons";
  src: local("DJIcons"), url("./fonts/DJIcons.ttf") format("ttf");

  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "RetroTeam";
  src: local("RetroTeam"), url("./fonts/RetroTeam.otf") format("otf");
  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "SocialMediaCircled";
  src: local("SocialMediaCircled"),
    url("./fonts/SocialMediaCircled.otf") format("otf");
  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "DIN-Regular";
  src: local("DIN-Regular"),
    url("./fonts/din-condensed/DIN-Regular.ttf") format("ttf");
  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}
